body {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    background-image: url('../img/bg-footer.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
  }
  .title ,
  .title-sm {
    font-family: 'Aref Ruqaa', sans-serif; 
  }
  .title {
    font-size: 60px;
  }
  .title-sm {
    font-size: 25px;
  }

  .title-font {
    font-family: 'Aref Ruqaa', sans-serif; 
  }
  
  .a2a_kit  {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    flex-direction: column-reverse;
    z-index: 10;
  }

  .a2a_kit a {
    margin-bottom: 4px;
  } 

  .clap {
    height: 68px;
    margin: auto;
  }